body{
	background-color: #821682;
}


*{
	margin: 0px; padding: 0px;
}

section{
	width: 300px; height: 300px; margin: 180px auto;
	position: relative;
	perspective: 1000px;
}
.circle{
	width: 350px; height: 350px;
	border-radius: 50%;
	position: absolute; top: 0%; left: 0%;
	transform: rotateX(75deg);
	transform-style: preserve-3d;
}
.circle div{
	border-radius: 50%;
	position: absolute; top: 50%; left: 50%;
	border: 2px solid;
}
.circle div:nth-of-type(1) {border-color: #efefef; transform: translateX(-50%) translateY(-50%) translateZ(0.0px);}
.circle div:nth-of-type(2) {border-color: #dfdfdf; transform: translateX(-50%) translateY(-50%) translateZ(0.2px);}
.circle div:nth-of-type(3) {border-color: #cfcfcf; transform: translateX(-50%) translateY(-50%) translateZ(0.4px);}
.circle div:nth-of-type(4) {border-color: #bfbfbf; transform: translateX(-50%) translateY(-50%) translateZ(0.6px);}
.circle div:nth-of-type(5) {border-color: #afafaf; transform: translateX(-50%) translateY(-50%) translateZ(0.8px);}
.circle div:nth-of-type(6) {border-color: #9f9f9f; transform: translateX(-50%) translateY(-50%) translateZ(1.0px);}
.circle div:nth-of-type(7) {border-color: #8f8f8f; transform: translateX(-50%) translateY(-50%) translateZ(1.2px);}
.circle div:nth-of-type(8) {border-color: #7f7f7f; transform: translateX(-50%) translateY(-50%) translateZ(1.4px);}
.circle div:nth-of-type(9) {border-color: #6f6f6f; transform: translateX(-50%) translateY(-50%) translateZ(1.6px);}
.circle div:nth-of-type(10){border-color: #5f5f5f; transform: translateX(-50%) translateY(-50%) translateZ(1.8px);}
.circle div:nth-of-type(11){border-color: #4f4f4f; transform: translateX(-50%) translateY(-50%) translateZ(1.0px);}
.circle div:nth-of-type(12){border-color: #3f3f3f; transform: translateX(-50%) translateY(-50%) translateZ(1.2px);}
.circle div:nth-of-type(13){border-color: #2f2f2f; transform: translateX(-50%) translateY(-50%) translateZ(1.4px);}
.circle div:nth-of-type(14){border-color: #1f1f1f; transform: translateX(-50%) translateY(-50%) translateZ(1.6px);}
.circle div:nth-of-type(15){border-color: #1e1e1e; transform: translateX(-50%) translateY(-50%) translateZ(1.8px);}




#circle1 div{ width: 10%; height: 10%; }
#circle2 div{ width: 20%; height: 20%; }
#circle3 div{ width: 30%; height: 30%; }
#circle4 div{ width: 40%; height: 40%; }
#circle5 div{ width: 50%; height: 50%; }
#circle6 div{ width: 60%; height: 60%; }
#circle7 div{ width: 70%; height: 70%; }
#circle8 div{ width: 80%; height: 80%; }
#circle9 div{ width: 90%; height: 90%; }
#circle10 div{ width: 100%; height: 100%; }
#circle11 div{ width: 110%; height: 110%; }
#circle12 div{ width: 120%; height: 120%; }
#circle13 div{ width: 130%; height: 130%; }
#circle14 div{ width: 140%; height: 140%; }
#circle15 div{ width: 150%; height: 150%; }





#circle1 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite alternate;}
#circle1 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite alternate;}





#circle2 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.05s alternate;}
#circle2 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.05s alternate;}





#circle3 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.1s alternate;}
#circle3 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.1s alternate;}





#circle4 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.15s alternate;}
#circle4 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.15s alternate;}





#circle5 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.2s alternate;}
#circle5 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.2s alternate;}





#circle6 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.25s alternate;}
#circle6 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.25s alternate;}





#circle7 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.3s alternate;}
#circle7 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.3s alternate;}





#circle8 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.35s alternate;}
#circle8 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.35s alternate;}





#circle9 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.4s alternate;}
#circle9 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.4s alternate;}





#circle10 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.45s alternate;}
#circle10 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.45s alternate;}





#circle11 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.5s alternate;}
#circle11 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.5s alternate;}





#circle12 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.55s alternate;}
#circle12 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.55s alternate;}





#circle13 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.6s alternate;}
#circle13 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.6s alternate;}





#circle14 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.65s alternate;}
#circle14 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.65s alternate;}




#circle15 div:nth-of-type(1) { animation: anim1 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(2) { animation: anim2 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(3) { animation: anim3 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(4) { animation: anim4 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(5) { animation: anim5 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(6) { animation: anim6 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(7) { animation: anim7 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(8) { animation: anim8 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(9) { animation: anim9 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(10){ animation: anim10 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(11){ animation: anim11 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(12){ animation: anim12 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(13){ animation: anim13 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(14){ animation: anim14 1.5s ease-in-out infinite 0.7s alternate;}
#circle15 div:nth-of-type(15){ animation: anim15 1.5s ease-in-out infinite 0.7s alternate;}


















@keyframes anim1{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(200px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-198.2px);}
}
@keyframes anim2{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(200.2px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-199.8px);}
}
@keyframes anim3{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(200.4px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-199.6px);}
}
@keyframes anim4{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(200.6px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-199.4px);}
}
@keyframes anim5{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(200.8px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-199.2px);}
}
@keyframes anim6{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(201px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-199px);}
}
@keyframes anim7{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(201.2px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-198.8px);}
}
@keyframes anim8{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(201.4px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-198.6px);}
}
@keyframes anim9{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(201.6px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-198.4px);}
}
@keyframes anim10{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(201.8px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-198.2px);}
}
@keyframes anim11{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(202px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-198px);}
}
@keyframes anim12{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(202.2px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-197.8px);}
}
@keyframes anim13{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(202.4px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-197.6px);}
}
@keyframes anim14{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(202.6px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-197.4px);}
}
@keyframes anim15{
	0%{transform: translateX(-50%) translateY(-50%) translateZ(202.8px);}
	100%{transform: translateX(-50%) translateY(-50%) translateZ(-197.2px);}
}